@font-face {
    font-family: 'din_bold';
    src: url('../fonts/din_condensed_bold-webfont.woff2') format('woff2'),
         url('../fonts/din_condensed_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'helv_bold';
    src: url('../fonts/helvetica_neu_bold-webfont.woff2') format('woff2'),
         url('../fonts/helvetica_neu_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'helv_blackcond';
    src: url('../fonts/helveticaneue_blackcond-webfont.woff2') format('woff2'),
         url('../fonts/helveticaneue_blackcond-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'helv_light';
    src: url('../fonts/helveticaneue_light-webfont.woff2') format('woff2'),
         url('../fonts/helveticaneue_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'helv_medium';
    src: url('../fonts/helveticaneue_medium-webfont.woff2') format('woff2'),
         url('../fonts/helveticaneue_medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'helv_thin';
    src: url('../fonts/helveticaneue_thin-webfont.woff2') format('woff2'),
         url('../fonts/helveticaneue_thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'helv_regular';
    src: url('../fonts/helveticaneue-webfont.woff2') format('woff2'),
         url('../fonts/helveticaneue-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'helv_bold';
    src: url('../fonts/helveticaneuebd-webfont.woff2') format('woff2'),
         url('../fonts/helveticaneuebd-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'helv_heavy';
    src: url('../fonts/helveticaneuehv-webfont.woff2') format('woff2'),
         url('../fonts/helveticaneuehv-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'helv_italic';
    src: url('../fonts/helveticaneueit-webfont.woff2') format('woff2'),
         url('../fonts/helveticaneueit-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'helv_light';
    src: url('../fonts/helveticaneuelt-webfont.woff2') format('woff2'),
         url('../fonts/helveticaneuelt-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'helv_medium';
    src: url('../fonts/helveticaneuemed-webfont.woff2') format('woff2'),
         url('../fonts/helveticaneuemed-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

.navbar .brand
{
	font-family: 'helv_medium';
	font-size: 20px;
	color:#fff;
	text-shadow: none;
	margin-left:0px;
}

.navbar-inner
{
	background: transparent;
	border:0px;
	padding:0px;
}

/*.main_section_home
{
	background: #4d98f7;
    border-radius: 0% 0% 41% 41%;
}
*/
.main_section_home
{
  overflow:hidden;
  position: relative;
}
.blue_background
{
      background: #4d98f7;
    border-radius: 0% 0% 100% 100%;
    height: 3000px;
    width: 3000px !important;
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: -1;
    top: -2389px;
    left: -61%;;
}

.navbar .nav > li > a
{
	color:#fff ;
	text-shadow: none;
}

.navbar .nav.main_menu
{
	background: #fff;
	padding-left:15px;
	padding-right:15px;
}
.navbar .nav.main_menu > li > a
{
	padding:10px 5px;
	font-size: 18px;
	font-family: 'din_bold';
	color:#707070;
}
.navbar .nav.main_menu > li.active > a,
.navbar .nav.main_menu > li:hover > a,
.navbar .nav.main_menu > li:focus > a
{
	color: #509bf7;
	background: transparent;
	box-shadow: none;
}

.header_section
{
	padding-top:28px;
}
.main_front_section
{
	max-width:1000px;
	width:100%;
	margin:auto;
}
/*Less to css complation*/

.main_image
{
  min-height:450px;
  height:auto;
  border:none;
  border-radius: 0px;
  max-width: 780px;
    width: 100%;
    margin: auto;
    background: #fff;
}
.main_image img
{
  max-width: 100%;
    width: 100%;
    margin: auto;
}

.main_image:after
{
	content:"";
	display: block;
	background:url(../images/main_image_bottom.png);
	width:100%;
	max-width:100%;

}

/*CSS converted from less file */

.main_front_section .main_cont .inner_container .main_heading_top {
  font-size: 50px;
  font-family: 'din_bold';
  text-align: center;
  color: #fff;
  margin-bottom: 25px;
}
.main_front_section .main_cont .inner_container .desc_cont {
  max-width: 750px;
  width: 100%;
  text-align: center;
  margin: auto;
  color: #fff;
  font-size: 20px;
  letter-spacing: 0.3px;
  font-family: 'helv_light';
  margin-bottom: 38px;
}
.willing_cont {
  position: relative;
  max-width: 350px;
  width: 100%;
  height: 50px;
  margin: auto;
  top: -50px;
  background: #fff;
  box-shadow: 0px 0px 10px 0px #000;
}
.willing_cont .willing_text {
  text-align: center;
  position: absolute;
  display: inline-block;
  left: 0px;
  right: 0px;
  top: 0px;
  color: #4d98f7;
  font-family: 'helv_light';
  letter-spacing: 0.5px;
  line-height: 50px;
}
.solution_section {
  position: relative;
}
.solution_section .solution_container {
  max-width: 85%;
  width: 100%;
  margin: auto;
  min-height: 500px;
  height: auto;
  background: -webkit-linear-gradient(right, #4f97f5, #c94df7);
  background: -o-linear-gradient(right, #4f97f5, #c94df7);
  background: -moz-linear-gradient(right, #4f97f5, #c94df7);
  background: linear-gradient(to right, #4f97f5, #c94df7);
}
.solution_section .solution_container .solution_inner.solution_row .container_solution {
  margin-top: 40%;
  padding-left: 30px;
}
.solution_section .solution_container .solution_inner.solution_row .container_solution .heading_solution {
  font-size: 40px;
  font-family: 'din_bold';
  color: #fff;
  line-height: 34px;
  margin-bottom: 18px;
}
.solution_section .solution_container .solution_inner.solution_row .container_solution .solution_text {
  font-family: 'helv_light';
  color: #fff;
}
.solution_section .solution_container .solution_inner.solution_row .col-md-7.col-lg-7 {
  padding-right: 0px;
}
.solution_section .solution_container .solution_inner.solution_row .col-md-7.col-lg-7 .ogaan_desktop {
  max-width: 100%;
  width: 100%;
  margin-top: 5%;
  margin-right: -15px;
}
.solution_section .solution_container .ogaan_mobile_cont {
  position: absolute;
  bottom: -115px;
  right: 0px;
}
.our_details_section {
  margin-top: 150px;
}
.our_details_section .our_details_container {
  max-width: 100%;
  width: 100%;
}
.our_details_section .our_details_container .inner_details_cont .nav.nav-tabs {
  text-align: center;
  max-width: 562px;
  width: 100%;
  margin: auto;
  margin-bottom: 20px;
  border-bottom: 0px;
}
.our_details_section .our_details_container .inner_details_cont .nav.nav-tabs li {
  position: relative;
}
.our_details_section .our_details_container .inner_details_cont .nav.nav-tabs li a {
  font-family: 'din_bold';
  font-size: 18px;
  color: #4d98f7;
  padding: 10px 15px;
  line-height: 12px;
}
.our_details_section .our_details_container .inner_details_cont .nav.nav-tabs li a:hover {
  border-color: transparent;
}
.our_details_section .our_details_container .inner_details_cont .nav.nav-tabs li.active a {
  border: 0px;
}
.our_details_section .our_details_container .inner_details_cont .nav.nav-tabs li.active:after {
  content: "";
  display: block;
  height: 4px;
  width: 100%;
  background: -webkit-linear-gradient(right, #4f97f5, #c94df7);
  background: -o-linear-gradient(right, #4f97f5, #c94df7);
  background: -moz-linear-gradient(right, #4f97f5, #c94df7);
  background: linear-gradient(to right, #4f97f5, #c94df7);
}
.our_details_section .our_details_container .inner_details_cont .tab-content {
  background: #4d98f7;
  min-height: 420px;
  height: auto;
}
.our_details_section .our_details_container .inner_details_cont .tab-content .outer_row {
  margin-top: 50px;
  margin-bottom: 50px;
}
.our_details_section .our_details_container .inner_details_cont .tab-content .outer_row .image_right {
  max-width: 400px;
  width: 100%;
  float: right;
}
.our_details_section .our_details_container .inner_details_cont .tab-content .outer_row .software_text_cont {
  margin-top: 30%;
}
.our_details_section .our_details_container .inner_details_cont .tab-content .outer_row .software_text_cont .icon_refresh {
  font-size: 30px;
  display: inline-block;
  padding-left: 40px;
  margin-bottom: 20px;
  color: #fff;
  font-weight: 200;
}
.our_details_section .our_details_container .inner_details_cont .tab-content .outer_row .software_text_cont .icon_refresh .second_toggle {
  font-size: 15px;
  display: block;
}
.our_details_section .our_details_container .inner_details_cont .tab-content .outer_row .software_text_cont .software_text {
  font-family: 'helv_light';
  color: #fff;
  letter-spacing: 0.5px;
  font-size: 16px;
  padding-left: 30px;
  max-width: 400px;
  line-height: 22px;
}
.our_details_section .our_details_container .inner_details_cont .tab-content .outer_row .software_text_cont .icon_rotate {
  /*transform: rotate(90deg);*/
}
.our_details_section .our_details_container .inner_details_cont .tab-content .outer_row .software_text_cont .first_toggle {
  font-size: 15px;
  display: block;
}
.our_team_section .our_team_container .team_container {
  max-width: 750px;
  width: 100%;
  margin: auto;
  margin-top: 60px;
}
.our_team_section .our_team_container .team_container .title_our_team {
  color: #4d98f7;
  font-family: 'din_bold';
  font-size: 45px;
}
.our_team_section .our_team_container .team_container .our_team_desc {
  color: #767676;
  font-family: 'helv_light';
  letter-spacing: 0.5px;
  font-size: 15px;
  line-height: 20px;
  margin-top: 20px;
  margin-bottom: 40px;
}
.our_team_section .our_team_container .team_container .our_team_cont {
  margin-bottom: 45px;
}
.our_team_section .our_team_container .team_container .our_team_cont .team_row .col-sm-5.col-md-5 img {
  max-width: 100%;
  width: 100%;
}
.our_team_section .our_team_container .team_container .our_team_cont .team_row .heading_team {
  color: #4d98f7;
}
.our_team_section .our_team_container .team_container .our_team_cont .team_row .heading_team.right_text {
  text-align: right;
}
.our_team_section .our_team_container .team_container .our_team_cont .team_row .heading_team.right_text .team_name {
  margin-top: 118px;
}
.our_team_section .our_team_container .team_container .our_team_cont .team_row .heading_team.right_text .team_name:after {
  right: 24px;
  left: auto;
  height: 104px;
}
.our_team_section .our_team_container .team_container .our_team_cont .team_row .text_team {
  
    color: #767676;
    /* text-align: justify; */
    font-family: 'helv_light';
    letter-spacing: 0.6px;
    font-size: 14px;
    line-height: 18px;
}
.our_team_section .our_team_container .team_container .our_team_cont .team_row .inner_container {
  min-height: 323px;
  height: auto;
}
.our_team_section .our_team_container .team_container .our_team_cont .team_row .inner_container .number {
  font-family: din_bold;
  letter-spacing: 0.5px;
  font-size: 30px;
  color: #4d98f7;
}
.our_team_section .our_team_container .team_container .our_team_cont .team_row .inner_container .team_name {
  margin-top: 150px;
}
.our_team_section .our_team_container .team_container .our_team_cont .team_row .inner_container .team_name .name {
  font-family: din_bold;
  letter-spacing: 0.5px;
  font-size: 20px;
  color: #4d98f7;
}
.our_team_section .our_team_container .team_container .our_team_cont .team_row .inner_container .team_name .designation {
  font-family: din_bold;
  letter-spacing: 0.5px;
  font-size: 14px;
  color: #000;
  margin-top: 5px;
  margin-bottom: 15px;
}
.our_team_section .our_team_container .team_container .our_team_cont .team_row .inner_container .team_name:after {
  content: "";
  display: block;
  position: absolute;
  left: 24px;
  height: 129px;
  background: #4d98f7;
  width: 3px;
  top: 37px;
}
.our_client_section {
  margin-top: 80px;
  text-align: center;
}
.our_client_section .heading_title {
  font-size: 30px;
  font-family: 'din_bold';
  color: #4d98f7;
  display: inline-block;
  margin-bottom: 50px;
}
.our_client_section .heading_title:after {
  content: "";
  display: block;
  height: 4px;
  width: 100%;
  background: -webkit-linear-gradient(right, #4f97f5, #c94df7);
  background: -o-linear-gradient(right, #4f97f5, #c94df7);
  background: -moz-linear-gradient(right, #4f97f5, #c94df7);
  background: linear-gradient(to right, #4f97f5, #c94df7);
}
.our_client_section .our_client_cont {
  max-width: 650px;
  width: 100%;
  margin: auto;
  text-align: center;
}
.our_client_section .our_client_cont .our_client {
  max-width: 30%;
  width: 100%;
  display: inline-block;
}
.our_client_section .our_client_cont .our_client img {
  max-width: 100%;
  width: 100%;
}
.footer {
  background: #4d98f7;
}
.footer .footer_container {
  padding-top: 50px;
}
.footer .footer_container .inner_container_footer {
  max-width: 1170px;
  width: 100%;
  margin: auto;
}
.footer .footer_container .inner_container_footer .heading_footer {
  font-family: 'din_bold';
  font-size: 35px;
  color: #fff;
  margin-bottom: 30px;
}
.footer .footer_container .inner_container_footer .heading_footer span {
  display: block;
}
.footer .footer_container .inner_container_footer .touch_text {
  font-size: 16px;
  font-family: 'helv_light';
  letter-spacing: 0.5px;
  color: #fff;
  margin-bottom: 15px;
}
.footer .footer_container .inner_container_footer .block {
  display: block;
  margin-bottom: 5px;
}
.navbar-inner .main_menu li {
  display: inline-block;
}
.shadow_box {
  box-shadow: 1px 1px 10px 0px #000;
}
.mt_10 {
  margin-top: 10px;
  padding-bottom: 30px;
  margin-bottom: 0px;
}
.copyright {
  color: #fff;
  display: block;
  font-size: 12px;
  font-family: 'helv_light';
}
.pb_50 {
  padding-bottom: 50px;
}
.mb_70 {
  margin-bottom: 70px;
}

/*Css less file Merged ends here*/



